/* -------------------------Estilos por defecto---------------------------- */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Fira Code Medium", monospace;
}

body {
  min-height: 100vh;
  padding: 40px 0;
  background-image: url("../Assets/Images/main-bg.jpg");
  background-position: 0px 0px;
  animation: animatedBackground 40s linear infinite alternate;
}

@keyframes animatedBackground {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 100% 0;
  }
}

.centerObject {
  width: fit-content;
  margin: 0 auto;
}

.frontShadow {
  max-width: 90%;
  text-align: center;
  padding: 10px 30px;
  border-radius: 10px;
  background-color: #ffffff;
  border: 2px solid #000000;
  position: relative;
  bottom: 2.3rem;
  left: -0.3rem;
  transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.shadow {
  display: block;
  max-width: 90%;
  height: 45px;
  border-radius: 10px;
  background-color: #ffffff;
  border: 2px solid #000000;
}

.hover--rotate:hover {
  cursor: pointer;
  transform: rotate(-2deg);
}

.hover--innerShadow:hover {
  box-shadow: inset 200px 0 0 0 #1272e3;
  color: white;
  cursor: pointer;
}

.mainTitleContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 60px;
}

.mainTitle {
  width: 1000px;
  max-width: 90%;
}

/* * -------------------------Estilos de la Landing Section---------------------------- */

.landing {
  width: 100%;
  padding: 5%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

/* * Inicio de los botones de idioma */

.landing__languageButtonsContainer {
  width: 250px;
  position: absolute;
  right: 20px;
  top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.landing__button {
  width: 120px;
  height: 40px;
}

.landing__button:hover {
  box-shadow: inset 120px 0 0 0 #1272e3;
  color: white;
}

.landing__button.active {
  background-color: #1272e3;
  color: #ffffff;
}

.buttonShadow {
  width: 120px;
  height: 40px;
}

/* Final de los botones de idioma */

/* Inicio de la información de presentación */

.landing__mainTextContainer {
  width: 800px;
  max-width: 90vw;
  margin-top: 20px;
  margin-bottom: 20px;
  height: fit-content;
  padding: 17px;
  background-color: #d9d9d9;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.landing__mainTextLineContainer {
  display: flex;
  column-gap: 20px;
  row-gap: 20px;
  flex-wrap: wrap;
}

.nameShadowWidth {
  width: 236px;
}

.roleShadowWidth {
  width: 290px;
}

/* Final de la información de presentación */

/* Inicio de las redes sociales en el Landing */

.landing__socialContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
}

.landing__contactMeShadowWidth {
  width: 170px;
}

.landing__socialIMG {
  width: 52px;
  height: 52px;
  background-color: #ffffff;
  border-radius: 50%;
  border: 2px solid #000000;
  position: relative;
  left: 23px;
  top: -4px;
  z-index: 1;
}

/* * Final de las redes sociales en el Landing */

/* * -------------------------Estilos de la Sección de Proyectos---------------------------- */

.projects {
  width: 100%;
  padding: 5%;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.projects__container {
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 20px;
  row-gap: 20px;
}

/* Inicio de los proyectos de la Sección de Proyectos */

.projects__project {
  width: 550px;
  padding: 20px;
  background-color: #d9d9d9;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 20px;
  row-gap: 20px;
}

.projects__project > img {
  width: 240px;
  height: 240px;
  object-fit: cover;
  border-radius: 10px;
}

.projects__projectRight {
  width: 250px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.projects__projectTitle {
  text-align: center;
}

.projects__centerText {
  text-align: center;
}

.projects__projectRedirections {
  margin: 0 auto;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.projects__projectLink {
  background-color: #ffffff;
  text-decoration: none;
  color: #000000;
  border: 2px solid #000000;
}

.projectLink__left {
  padding: 5px 10px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.projectLink__left:hover {
  box-shadow: inset 120px 0 0 0 #1272e3;
  color: white;
}

.projectLink__right {
  padding: 5px 26px;
  border-left: none;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.projectLink__right:hover {
  box-shadow: inset 120px 0 0 0 #1272e3;
  color: white;
}

/* * Final de los proyectos de la Sección de Proyectos */

/* * -------------------------Inicio de la Sección del Algoritmo---------------------------- */

.algorithm {
  width: 100%;
  min-height: 100vh;
  margin: 40px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.algorithm__controllerContainer {
  width: 1250px;
  max-width: 90%;
  padding: 20px;
  background-color: #d9d9d9;
  border-radius: 10px;
}

.algorithm__rangesContainer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
}

.algorithm__range {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;
}

.algorithm__algorithmSelector {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  column-gap: 20px;
}

.algorithmSelector__text {
  margin: 20px 0 12px 20px;
}

.frontShadow.active {
  box-shadow: inset 200px 0 0 0 #1272e3;
  color: white;
  cursor: pointer;
}

.algorithm__algorithmContainer {
  width: 1250px;
  max-width: 90vw;
  height: 500px;
  padding: 20px 40px;
  background-color: #3c3838;
  margin-top: 30px;
  margin-bottom: 30px;
  border-radius: 10px;
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
}

.algorithm__bar {
  width: 25px;
  height: 60px;
  background-color: #ffffff;
}

.algorithm__bar.inProgress {
  background-color: #eaebb2;
}

.algorithm__bar.sorted {
  background-color: #2ba153;
}

.algorithm__sortButtons{
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.algorithm__sortButtons:hover {
  box-shadow: inset 200px 0 0 0 #1272e3;
  color: white;
}

/* * Final de la Sección del Algoritmo */

/* * -------------------------Inicio de la Sección del About Me---------------------------- */

.about {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 20px;
  row-gap: 20px;
}

/* Inicio de la parte con información personal */

.about__aboutMe {
  width: 650px;
  max-width: 90%;
  padding: 15px;
  background-color: #d9d9d9;
  border-radius: 10px;
}

.aboutMe__img {
  width: 230px;
  height: 230px;
  max-width: 100%;
  margin: 0 30px 20px 0;
  border-radius: 10px;
}

.aboutMe__text {
  margin: 15px 0;
  padding: 0 18px;
}

.about__downloadShadow {
  width: 202px;
}

/* Final de la parte con información personal */

/* Inicio de la parte con las tecnologías */

.about__technologies {
  width: 650px;
  max-width: 90%;
  padding: 15px;
  background-color: #d9d9d9;
  border-radius: 10px;
}

.about__technologiesShadow {
  width: 232px;
}

.about__alsoShadow {
  width: 271px;
}

.about__technologiesContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 10px;
  row-gap: 10px;
  margin-bottom: 50px;
}

.about__technology {
  width: 110px;
  display: flex;
  align-items: center;
  flex-direction: column;
  row-gap: 5px;
}

.about__technologyIMG {
  width: 104px;
  height: 104px;
  border-radius: 10px;
  cursor: pointer;
}

.about__technology--hover {
  background-color: #000000;
  width: 110px;
  border-radius: 5px;
  color: #ffffff;
  text-align: center;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.about__technology:hover > .about__technology--hover {
  opacity: 1;
}

/* Final de la parte con las tecnologías */

/* * Final de la Sección del About Me */

/* * -------------------------Inicio de la Sección de Contacto---------------------------- */

.contact {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  column-gap: 20px;
  row-gap: 20px;
}

.contact__social {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
}

.contact__form{
  width: 470px;
  padding-top: 20px;
  border-radius: 10px;
  background-color: #d9d9d9;
  border: 2px solid #000000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 20px;
}

.contact__formTitle {
  font-weight: normal;
  font-size: 1rem;
}

.contact__messageTitle {
  width: 90%;
  height: 30px;
  padding-left: 10px;
  border-radius: 8px;
  border: 1px solid #000000;
}

.contact__message {
  width: 90%;
  height: 150px;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #000000;
}

.contact__mapContainer {
  width: 470px;
  max-width: 90vw;
}

.contact__map {
  width: 100%;
  height: 300px;
  border-radius: 10px;
  border: 2px solid #000000;
}

.contact__mapText {
  padding: 10px 15px;
  border-radius: 10px;
  background-color: #d9d9d9;
  border: 2px solid #000000;
}





/* Estilos de los input range */

input[type=range] {
  -webkit-appearance: none;
  margin: 18px 0;
  width: 70%;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #3071a9;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -14px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #367ebd;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #3071a9;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #2a6495;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-fill-upper {
  background: #3071a9;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: #3071a9;
}
input[type=range]:focus::-ms-fill-upper {
  background: #367ebd;
}