/* -------------------------Estilos por defecto---------------------------- */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Fira Code Medium", monospace;
}

body {
  min-height: 100vh;
  padding: 40px 0;
  background-image: url("../Assets/Images/main-bg.jpg");
  background-position: 0px 0px;
  animation: animatedBackground 40s linear infinite alternate;
}

@keyframes animatedBackground {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 100% 0;
  }
}

.centerObject {
  width: fit-content;
  margin: 0 auto;
}

.frontShadow {
  text-align: center;
  padding: 10px 30px;
  border-radius: 10px;
  background-color: #ffffff;
  border: 2px solid #000000;
  position: relative;
  bottom: 2.3rem;
  left: -0.3rem;
  transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.shadow {
  display: block;
  max-width: 90vw;
  height: 45px;
  border-radius: 10px;
  background-color: #ffffff;
  border: 2px solid #000000;
}

.hover--rotate:hover {
  cursor: pointer;
  transform: rotate(-2deg);
}

.hover--innerShadow:hover {
  box-shadow: inset 200px 0 0 0 #1272e3;
  color: white;
  cursor: pointer;
}

/* -------------------------Estilos de la Landing Section---------------------------- */

.landing {
  width: 100%;
  padding: 5%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

/* Inicio de los botones de idioma */

.landing__languageButtonsContainer {
  width: 250px;
  position: absolute;
  right: 20px;
  top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.landing__button {
  width: 120px;
  height: 40px;
}

.landing__button:hover {
  box-shadow: inset 120px 0 0 0 #1272e3;
  color: white;
}

.landing__button.active {
  background-color: #1272e3;
  color: #ffffff;
}

.buttonShadow {
  width: 120px;
  height: 40px;
}

/* Final de los botones de idioma */

/* Inicio de la información de presentación */

.landing__mainTextContainer {
  width: 1000px;
  max-width: 90%;
  margin-left: 5%;
  height: 350px;
  max-height: 50vh;
  padding: 30px;
  background-color: #d9d9d9;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.landing__mainTextLineContainer {
  display: flex;
  column-gap: 20px;
  row-gap: 20px;
  flex-wrap: wrap;
}

.nameShadowWidth {
  width: 208px;
}

.roleShadowWidth {
  width: 256px;
}

/* Final de la información de presentación */

/* Inicio de las redes sociales en el Landing */

.landing__socialContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
}

.landing__contactMeShadowWidth {
  width: 170px;
}

.landing__socialIMG {
  width: 52px;
  height: 52px;
  background-color: #ffffff;
  border-radius: 50%;
  border: 2px solid #000000;
  position: relative;
  left: 23px;
  top: -4px;
  z-index: 1;
}

/* Final de las redes sociales en el Landing */

/* ------------------------- Estilos de la Sección de Proyectos ---------------------------- */

.projects {
  width: 100%;
  padding: 5%;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.projects__title {
  width: 1000px;
  max-width: 90%;
}

.projects__container {
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 20px;
  row-gap: 20px;
}

/* Inicio de los proyectos de la Sección de Proyectos */

.projects__project {
  width: 550px;
  padding: 20px;
  background-color: #d9d9d9;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 20px;
  row-gap: 20px;
}

.projects__project > img {
  width: 240px;
  height: 240px;
  object-fit: cover;
  border-radius: 10px;
}

.projects__projectRight {
  width: 250px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.projects__projectTitle {
  text-align: center;
}

.projects__centerText {
  text-align: center;
}

.projects__projectRedirections {
  margin: 0 auto;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.projects__projectLink {
  background-color: #ffffff;
  text-decoration: none;
  color: #000000;
  border: 2px solid #000000;
}

.projectLink__left {
  padding: 5px 10px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.projectLink__left:hover {
  box-shadow: inset 120px 0 0 0 #1272e3;
  color: white;
}

.projectLink__right {
  padding: 5px 26px;
  border-left: none;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.projectLink__right:hover {
  box-shadow: inset 120px 0 0 0 #1272e3;
  color: white;
}

/* Final de los proyectos de la Sección de Proyectos */

/* Inicio de la Sección del Algoritmo */

.algorithm {
  width: 100%;
  min-height: 100vh;
}

/* Final de la Sección del Algoritmo */

/* Inicio de la Sección del About Me */

.about {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 20px;
  row-gap: 20px;
}

.about__titleContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Inicio de la parte con información personal */

.about__aboutMe {
  width: 650px;
  max-width: 90%;
  padding: 15px;
  background-color: #d9d9d9;
  border-radius: 10px;
}

.aboutMe__img {
  width: 230px;
  height: 230px;
  margin: 0 30px 20px 0;
  border-radius: 10px;
}

.aboutMe__text {
  margin: 15px 0;
  padding: 0 18px;
}

.about__downloadCV {
  width: fit-content;
  margin: 25px auto 0;
}

.about__downloadShadow {
  width: 202px;
}

/* Final de la parte con información personal */

/* Inicio de la parte con las tecnologías */

.about__technologies {
  width: 650px;
  max-width: 90%;
  padding: 15px;
  background-color: #d9d9d9;
  border-radius: 10px;
}

.about__technologiesShadow {
  width: 232px;
}

.about__alsoShadow {
  width: 271px;
}

.about__technologiesContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 10px;
  row-gap: 10px;
  margin-bottom: 50px;
}

.about__technology {
  width: 110px;
  display: flex;
  align-items: center;
  flex-direction: column;
  row-gap: 5px;
}

.about__technologyIMG {
  width: 104px;
  height: 104px;
  border-radius: 10px;
  cursor: pointer;
}

.about__technology--hover {
  background-color: #000000;
  width: 110px;
  border-radius: 5px;
  color: #ffffff;
  text-align: center;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.about__technology:hover > .about__technology--hover {
  opacity: 1;
}

/* Final de la parte con las tecnologías */

/* Final de la Sección del About Me */
