/* -------------------------Estilos por defecto---------------------------- */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Fira Code Medium", monospace;
}

body {
  min-height: 100vh;
  background-image: url("../Assets/Images/main-bg.jpg");
  background-position: 0px 0px;
  animation: animatedBackground 40s linear infinite alternate;
}

@keyframes animatedBackground {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 100% 0;
  }
}

.frontShadow {
  text-align: center;
  padding: 10px 30px;
  border-radius: 10px;
  background-color: #ffffff;
  border: 2px solid #000000;
  position: relative;
  bottom: 2.3rem;
  left: -0.3rem;
  transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.shadow {
  display: block;
  max-width: 90vw;
  height: 45px;
  border-radius: 10px;
  background-color: #ffffff;
  border: 2px solid #000000;
}

.hover--rotate:hover {
  cursor: pointer;
  transform: rotate(-2deg);
}

.hover--innerShadow:hover {
  box-shadow: inset 200px 0 0 0 #1272e3;
  color: white;
  cursor: pointer;
}

/* -------------------------Estilos de la Landing Section---------------------------- */

.landing {
  width: 100%;
  padding: 5%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

/* Inicio de los botones de idioma */

.landing__languageButtonsContainer {
  width: 250px;
  position: absolute;
  right: 20px;
  top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.landing__button {
  width: 120px;
  height: 40px;
}

.landing__button:hover {
  box-shadow: inset 120px 0 0 0 #1272e3;
  color: white;
}

.landing__button.active {
  background-color: #1272e3;
  color: #ffffff;
}

.buttonShadow {
  width: 120px;
  height: 40px;
}

/* Final de los botones de idioma */

/* Inicio de la información de presentación */

.landing__mainTextContainer {
  width: 1000px;
  max-width: 90%;
  margin-left: 5%;
  height: 350px;
  max-height: 50vh;
  padding: 30px;
  background-color: #d9d9d9;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.landing__mainTextLineContainer {
  display: flex;
  column-gap: 20px;
  row-gap: 20px;
  flex-wrap: wrap;
}

.nameShadowWidth {
  width: 208px;
}

.roleShadowWidth {
  width: 256px;
}

/* Final de la información de presentación */

/* Inicio de las redes sociales en el Landing */

.landing__socialContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
}

.landing__contactMeShadowWidth {
  width: 170px;
}

.landing__socialIMG {
  width: 52px;
  height: 52px;
  background-color: #ffffff;
  border-radius: 50%;
  border: 2px solid #000000;
  position: relative;
  left: 23px;
  top: -4px;
  z-index: 1;
}

/* Final de las redes sociales en el Landing */

/* ------------------------- Estilos de la Sección de Proyectos ---------------------------- */

.projects {
  width: 100%;
  padding: 5%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.projects__title {
  width: 1000px;
  max-width: 90%;
}

.projects__container {
  width: 100%;
  display: flex;
  align-items: center;
}

/* Inicio de los proyectos de la Sección de Proyectos */

.projects__project {
  width: 550px;
  max-width: 90vw;
  padding: 20px;
  background-color: #d9d9d9;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 20px;
  row-gap: 20px;
}

.projects__project > img {
  width: 240px;
  height: 240px;
  object-fit: cover;
  border-radius: 10px;
}

.projects__projectRight {
  width: 250px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.projects__projectTitle{
  text-align: center;
}

/* Final de los proyectos de la Sección de Proyectos */
