/* * -------------------------Estilos de la Sección de Proyectos---------------------------- */

.projects {
  width: 100%;
  padding: 5%;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.projects__container {
  width: 1250px;
  max-width: 100%;
  margin-top: 3 0px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 20px;
  row-gap: 20px;
}

/* Inicio de los proyectos de la Sección de Proyectos */

.projects__project {
  width: 550px;
  padding: 20px;
  background-color: #d9d9d9;
  border-radius: 10px;
  box-shadow: 5px 5px 3px #5c6bc0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 20px;
  row-gap: 20px;
}

.projects__project > img {
  width: 240px;
  height: 240px;
  object-fit: cover;
  border-radius: 10px;
}

.projects__projectRight {
  width: 250px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.projects__projectTitle {
  text-align: center;
}

.projects__centerText {
  text-align: center;
}

.project__infoButton {
  width: 200px;
  color: #000000;
  background-color: #ffffff;
  margin: 0 auto;
  padding: 8px 15px;
  border: 2px solid #000000;
  box-shadow: 3px 3px 3px #5c6bc0;
  border-radius: 10px;
  cursor: pointer;
  transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.project__infoButton:hover {
  box-shadow: inset 200px 0 0 0 #1272e3;
  color: white;
}

.projects__projectRedirections {
  margin: 0 auto;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.projects__projectLink {
  background-color: #ffffff;
  text-decoration: none;
  color: #000000;
  border: 2px solid #000000;
  box-shadow: 3px 3px 3px #5c6bc0;
}

.projectLink__left {
  padding: 5px 10px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.projectLink__left:hover {
  box-shadow: inset 120px 0 0 0 #1272e3;
  color: white;
}

.projectLink__right {
  padding: 5px 26px;
  border-left: none;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.projectLink__right:hover {
  box-shadow: inset 120px 0 0 0 #1272e3;
  color: white;
}

/* * Final de los proyectos de la Sección de Proyectos */

/* * Inicio de los estilos de Modal */

.modal {
  display: none;
  width: 100vw;
  min-height: 100vh;
  padding: 30px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #494949bb;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.projects__modalContent {
  width: 800px;
  min-height: 400px;

  padding: 20px;
  background-color: #fff;
  display: flex;
  justify-content: center;

  column-gap: 20px;
  row-gap: 20px;
  border-radius: 15px;
  overflow: auto;
}

.modal__closeBtn {
  height: 30px;
  font-size: 2rem;
  cursor: pointer;
  color: #ccc;
}

.projects__modalImg {
  flex-shrink: 2;
  max-width: 40%;
  object-fit: contain;
  border-radius: 10px;
  background-color: #494949bb;
}

.projects__modalRight {
  flex-shrink: 2;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  row-gap: 10px;
}

/* * Final de los estilos de Modal */
